name: Go CI Pipeline

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache: true

      - name: Lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59

      - name: Test
        run: go test -v ./...

      - name: Build Go binary
        run: CGO_ENABLED=0 go build -o cgt-tracker main.go

      - name: Build Docker image
        run: docker build . -t cgt-tracker:latest
